@import '../shared'

.Cell
  background: rgba(111, 143, 93, 0.1)
  color: $primary-light
  font-weight: lighter
  width: 30px
  border: none
  z-index: 5
  cursor: pointer

  &:hover:not(.crossedOut):not(.selected)
    background-color: rgba(111, 143, 93, 0.23)
    color: $primary-light
    font-weight: bold

  &:focus
    outline: none

  &.selected
    background-color: rgba(111, 143, 93, 0.27)
    color: $primary-light
    font-weight: bold

  &.crossedOut
    background: rgba(111, 143, 93, 0.15)
    color: $primary-lightest
    cursor: unset
