.Rules
  height: calc(100vh - 56px)
  overflow-y: scroll

@media (max-width: 576px)
  .rulesNavContainer
    flex-direction: row !important
    max-width: 100% !important
    flex-basis: 100% !important
    .navbar-nav
      margin-left: 0 !important
      flex-direction: row !important
      .nav-link
        padding-left: 3px
        padding-right: 3px

#rulesNav
  padding-left: 0
  top: 75px

.classical_board
  width: 9 * 30px

.cross_out_horizontal
  width: 4 * 30px

.cross_out_horizontal_with_zeros
  width: 3 * 30px

.cross_out_horizontal_with_zeros_next_line
  width: 9 * 30px

.cross_out_vertical
  width: 3 * 30px

.cross_out_vertical_with_zeros
  width: 3 * 30px

.next_level
  height: 21px
  width: 100px
  object-fit: cover
  object-position: -3px -7.5px
