@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/variables';

$primary-lightest: #bed0bb;
$primary-lighter: #7aa07b;
$primary-light: #65945d;
$primary: #09630d;
$primary-dark: #09330C;
$primary-darker: #052c05;
$primary-darkest: #041305;

$primary-colors: (
  "primary-lightest": $primary-lightest,
  "primary-lighter": $primary-lighter,
  "primary-light": $primary-light,
  "primary": $primary,
  "primary-dark": $primary-dark,
  "primary-darker": $primary-darker,
  "primary-darkest": $primary-darkest,
);

$secondary-lightest: #e0e5e3;
$secondary-lighter: #abb0ae;
$secondary-light: #7c817f;
$secondary: #545957;
$secondary-dark: #373d3b;
$secondary-darker: #252d2b;
$secondary-darkest: #161d1b;

$secondary-colors: (
  "secondary-lightest": $secondary-lightest,
  "secondary-lighter": $secondary-lighter,
  "secondary-light": $secondary-light,
  "secondary": $secondary,
  "secondary-dark": $secondary-dark,
  "secondary-darker": $secondary-darker,
  "secondary-darkest": $secondary-darkest,
);

$primary-and-secondary-colors: map_merge($primary-colors, $secondary-colors);

$colors: map-merge($colors, $primary-and-secondary-colors);
$theme-colors: map-merge($theme-colors, $primary-and-secondary-colors);
